/target/
#eclipse
.classpath
.project
.settings/
/bin

#intelliJ
.idea/
*.iml
.idea/workspace.xml
.idea/kotlinc.xml
*.iws

#Mac
.DS_Store

#Maven
log/
target/
/.idea/
/.idea/workspace.xml

#Manifest
/src/META-INF
bin/artifacts/
bin/production/
src/design/Thumbs.db
